  <header id="site_header" class="header mobile-menu-hide">
{% if header.resume.sidebar.profile_img %}{% for img in header.resume.sidebar.profile_img %}{% if header.resume.sidebar.profile_img_2 %}{% for img2 in header.resume.sidebar.profile_img_2 %}
      <div class="js-comparison-container" {% if header.resume.sidebar.profile_img_comp %}start-position="{{header.resume.sidebar.profile_img_comp}}"{% endif %}>
        <img class="profile-pic comparison-image" src="{{ img.name }}" {% if header.resume.sidebar.profile_img_alt %} alt="{{header.resume.sidebar.profile_img_alt}}" {% endif %}>
        <img class="profile-pic comparison-image" src="{{ img2.name }}" {% if header.resume.sidebar.profile_img_2_alt %} alt="{{header.resume.sidebar.profile_img_2_alt}}" {% endif %}>
      </div>
{% endfor %}{% else %}
    <img class="profile-pic" src="{{ img.name }}" alt="image">
  {% endif %}{% endfor %}{% endif %}
      <div class="custom-nav-wrap">
        <div class="site-title-block">
    {% if header.resume.sidebar.name %}
      <h1 class="site-title">{{header.resume.sidebar.name}}</h1>
  {% endif %}
  {% if header.resume.sidebar.subtitle %}
      <p class="site-description">{{header.resume.sidebar.subtitle}}</p>
  {% endif %}
    </div>
        <div class="site-nav">
          <ul id="nav" class="site-main-menu">
{% if header.resume.sidebar.nav.home %}
            <li>
              <a class="pt-trigger" href="#home" data-animation="58" data-goto="1">{{header.resume.sidebar.nav.home}}</a>
            </li>
{% else %}
            <li>
              <a class="pt-trigger" href="#home" data-animation="58" data-goto="1">Home</a>
            </li>
{% endif %}{% if header.resume.sidebar.nav.about %}
            <li>
              <a class="pt-trigger" href="#about_me" data-animation="59" data-goto="2">{{header.resume.sidebar.nav.about}}</a>
            </li>
{% else %}
            <li>
              <a class="pt-trigger" href="#about_me" data-animation="59" data-goto="2">About</a>
            </li>
{% endif %}{% if header.resume.sidebar.nav.resume %}
            <li>
              <a class="pt-trigger" href="#resume" data-animation="60" data-goto="3">{{header.resume.sidebar.nav.resume}}</a>
            </li>
{% else %}
            <li>
              <a class="pt-trigger" href="#resume" data-animation="60" data-goto="3">Resume</a>
            </li>
{% endif %}{% if header.resume.sidebar.nav.portfolio %}
            <li>
              <a class="pt-trigger" href="#portfolio" data-animation="61" data-goto="4">{{header.resume.sidebar.nav.portfolio}}</a>
            </li>
{% else %}
            <li>
              <a class="pt-trigger" href="#portfolio" data-animation="61" data-goto="4">Portfolio</a>
            </li>
{% endif %}{% if header.resume.sidebar.nav.contact %}
            <li>
              <a class="pt-trigger" href="#contact" data-animation="59" data-goto="5">{{header.resume.sidebar.nav.contact}}</a>
            </li>
{% else %}
            <li>
              <a class="pt-trigger" href="#contact" data-animation="59" data-goto="5">Contact</a>
            </li>
{% endif %}
          </ul>
{% if header.resume.sidebar.social %}
          <ul class="social-links">
{% if header.resume.sidebar.social.facebook %}
            <li>
              <a class="tip social-button" href="{{header.resume.sidebar.social.facebook}}" title="Facebook" target="_blank">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
{% endif %}
{% if header.resume.sidebar.social.twitter %}
            <li>
              <a class="tip social-button" href="{{header.resume.sidebar.social.twitter}}" title="Twitter" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
{% endif %}
{% if header.resume.sidebar.social.instagram %}
            <li>
              <a class="tip social-button" href="{{header.resume.sidebar.social.instagram}}" title="Instagram" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
{% endif %}
{% if header.resume.sidebar.social.linkedin %}
            <li>
              <a class="tip social-button" href="{{header.resume.sidebar.social.linkedin}}" title="LinkedIn" target="_blank">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
{% endif %}
{% if header.resume.sidebar.social.gplus %}
            <li>
              <a class="tip social-button" href="{{header.resume.sidebar.social.gplus}}" title="Google Plus" target="_blank">
                <i class="fab fa-google-plus"></i>
              </a>
            </li>
{% endif %}
{% if header.resume.sidebar.social.youtube %}
            <li>
              <a class="tip social-button" href="{{header.resume.sidebar.social.youtube}}" title="Youtube" target="_blank">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
{% endif %}
{% if header.resume.sidebar.social.dribbble %}
            <li>
              <a class="tip social-button" href="{{header.resume.sidebar.social.dribbble}}" title="Dribbble" target="_blank">
                <i class="fab fa-dribbble"></i>
              </a>
            </li>
{% endif %}
{% if header.resume.sidebar.social.behance %}
            <li>
              <a class="tip social-button" href="{{header.resume.sidebar.social.behance}}" title="BeHance" target="_blank">
                <i class="fab fa-behance"></i>
              </a>
            </li>
{% endif %}
{% if header.resume.sidebar.social.github %}
            <li>
              <a class="tip social-button" href="{{header.resume.sidebar.social.github}}" title="Github" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
{% endif %}
          </ul>
{% endif %}
        </div>
      </div>
    </header>
